<h1>Kirjaudu sisään</h1>

<section><p>Tämä kirjautumissivu on tarkoitettu vain sivuston ylläpitäjille.</p></section>

<%= form_tag session_path do %>
    <p>Käyttäjätunnus <%= text_field_tag :username, params[:username] %></p>
    <p>Salasana <%= password_field_tag :password, params[:password] %></p>
    <%= submit_tag "Kirjaudu sisään" %>
<% end %>