<% @newsitems.each do |newsitem| %>
    <section class ="section section-newsitems">
      <%= newsitem.created_at %><br>
      <%= link_to newsitem.name, newsitem %><br>
      <i><%= truncate(newsitem.content, :length => 50, :separator => ' ') %></i>

    </section>
<% end %>