<div class="row">
  <div class="col-md-3">
    Tähän sarakkeeseen tulee kuvat ja FB-feedi
  </div>
  <div class="col-md-6">
    <h1>Tervetuloa Kotikotiin!</h1>

    Höpö höpö, seliseli, kettu juoksi yli järven

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non laoreet diam. Maecenas hendrerit ante quis sagittis convallis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis aliquet eros porta, vestibulum mi sed, imperdiet sem. Phasellus convallis sollicitudin metus, sit amet maximus risus posuere id. Nulla sodales, libero semper aliquam lobortis, mauris justo varius justo, eget egestas ligula diam at augue. Integer nec dapibus massa, eget sollicitudin dolor.

    Donec eu porttitor diam. Sed sodales placerat bibendum. Suspendisse elementum hendrerit metus vitae luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce tempor imperdiet augue, non iaculis nunc tincidunt id. Donec condimentum metus quis sem tincidunt, pharetra accumsan nisl congue. Donec pharetra dignissim placerat.

  </div>

  <div class="col-md-3">
    <h3>Ajankohtaista</h3>
    <%= render 'newsitems/newsitems_quicklist' %>
  </div>
</div>
