<article>
  <header>
    <h1>Edustajat</h1>

    <p>Edustajasi Mikkelissä:</p>
  </header>

  <section id="esittely" class="section-custom">
    <h1>Seppo Parkkinen</h1>

    <p>
      <figure>
        <%= image_tag "parkkinen_mikkeli.jpg" %>
        <figcaption>Seppo Parkkinen</figcaption>
      </figure>
      Seppo on vuoden kannustalo-myyjä 2010 ja eri kiva isi.
      <br>seliseli pööp pölö
      <br>kalshfkjfg
      <br>asfdksjglfkjhfdg

    </p>
  </section>

  <section id="esittely2" class="section-custom">
    <h1>Niila</h1>

    <p>
      <figure>
        <img src="https://yt3.ggpht.com/-V92UP8yaNyQ/AAAAAAAAAAI/AAAAAAAAAAA/zOYDMx8Qk3c/s900-c-k-no/photo.jpg" width="100" height="100">
        <figcaption>Niilan kuvaa ei vielä ole</figcaption>
      </figure>
      Niila on kans täällä töissä.
      <br>seliseli pööp pölö
      <br>kalshfkjfg
      <br>asfdksjglfkjhfdg

    </p>
  </section>


</article>