<article>
  <header>
    <h1>Edustajat</h1>
    <p>Edustajasi Mikkelissä:</p>
  </header>

  <section id = "esittely" class ="section-custom">
    <h1>Seppo Parkkinen</h1>
    <p>Seppo on vuoden kannustalo-myyjä 2010 ja eri hyvä isi</p>
    <figure>
      <img src="parkkinen_mikkeli.jpg">
      <figcaption>Seppo Parkkinen</figcaption>
    </figure>
  </section>


</article>