// Place all the styles related to the newsitems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";


article {
  margin: 0 auto;
}

.index {

  background-color: lighten($gray-lighter,5%);
  border: thin groove;
  margin: 0;
}

.index .header {
  margin: 0 5% 0 5%;
  border: none;
  border-bottom: thin groove;
}

article header {
  position: relative;

}
section {
  position:relative;
  margin: 0 20% 5% 5%;
  font-size: 120%;


}